@model IEnumerable<LibraryApp.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-success btn">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-secondary btn">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
